aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
distro
faiss-cpu
filelock
frozenlist
fsspec
gitdb
gitpython
groq
h11
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
idna
jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
