#langchain
faiss-cpu
huggingface-hub
joblib
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq

# Optional
groq



aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
distro

filelock
frozenlist
fsspec
gitdb
gitpython

h11
hf-xet
httpcore
httpx
httpx-sse
idna
jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications



